/** css/yourtheme.css **/

/* This line is theme specific - it includes the base theme CSS */
/*@import '../alabaster.css';  /* for Alabaster */
@import 'theme.css';       /* for the Read the Docs theme */

body {
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
      background: #CFB87C; /* CU gold */
    }

    /* Sidebar */
    .wy-nav-side {
      background: #565A5C;  /* CU dark grey */
    }
    
    .wy-nav-content {
      max-width: none;
    }

    .wy-menu-vertical a { 
      color: #fafafa;
    }

    /* Caption color */
    .wy-breadcrumbs a {
      color: #fafafa;
    }

}